docs/Data/erg_mgf_l2_64hz_sgi_2017033102_v03.05.cdf
docs/Data/erg_pwe_wfc_l2_b_waveform_wp65khz_sgi_2017033102_v03_01.cdf
docs/Data/erg_pwe_wfc_l2_e_waveform_wp65khz_sgi_2017033102_v03_01.cdf
.DS_Store
Data/orpheus.mp4
*.mp4
*.mp4
!Data/binaural_orbiting_speaker.mp4
!docs/Data/binaural_orbiting_speaker.mp4
*.wav
!Data/griffin_lim_*.wav
!docs/Data/griffin_lim_*.wav
*.cdf
*.csv
*.mp3
docs/Data/audio.zip
*.xls
*.csv
*.csv
docs/Data/gearbox/CWRU_48k_load_1_CNN_data.npz
*.xls
*.csv

/.quarto/
**/*.quarto_ipynb

# Quarto build outputs
_build/
_freeze/

# Python / IDE
__pycache__/
*.pyc
.ipynb_checkpoints/
*.fits
